<html>
<head>
    <meta charset="utf-8">
    <title>Add exhibit</title>
</head>

<body>
    <font face="Montserrat">
    <form action="" method="POST" >
        Exhibit name: <input type="text" name="name"><br>
        Type: <input type="text" name="typ"><br>
        Creation year: <input type="text" name="creation_year"><br>
        <input type="submit" value="Add">
    </form>

    <P>
    <A href = "/exhibits">
        Back to Exhibits
    </A><br>
    <A href = "/">
        Back to Main page
    </A>
</body>

</html>
