<html>
<head>
    <meta charset="utf-8">
    <title>Remove exhibit from artist</title>
</head>

<body>
    <font face="Montserrat">
    <form action="" method="POST" >
      Exhibit name: <input type="text" name="exhibit_name"><br>
      <input type="submit" value="Remove">
    </form>

    <P>
    <A href = "/artists/{{ artist_id }}">
        Back to Artist
    </A>

    <P>
    <A href = "/artists">
        Back to Artists
    </A><br>
    <A href = "/">
        Back to Main page
    </A>
</body>

</html>
