<html>
<head>
    <meta charset="utf-8">
    <title>Remove country</title>
</head>

<body>
    <font face="Montserrat">
    {% for country in countries %}
        {{ country["name"] }}<br>
    {% endfor %}
    
    <P>
    <form action="" method="POST" >
        Country name: <input type="text" name="country_name"><br>
        <input type="submit" value="Remove">
    </form>

    <P>
    <A href = "/artists">
        Back to Artists
    </A><br>
    <A href = "/">
        Back to Main page
    </A>
</body>

</html>
